/* master background */
body{
    background-attachment: fixed;
    background-color: #B9D6F2;
}

 /* logo in navbar */
.navbar-brand{
    color: #1B998B !important;
    font-family: 'Bungee', cursive;
    letter-spacing: .5rem;
}

/* links in navbar */
#navbar a {
    color: #0353A4;
    font-weight: 600;
}

/* justify text */
.text-just {
    padding-left: 20%;
    padding-right: 20%;
}

button{
    background-color: white;
    color: #275DAD;
}

/* create event input labels */
label{
    color: #1D3557;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

/* wrapper */ 
.wrapper {
    margin-top: 10%;
    padding-bottom: 2rem;
}

/* create-event form */
.form1 {
    margin-left: 2rem;
}

/* picture carousel */ 
.carousel {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}

.carousel-caption {
    top:30%;
    left:25%;
    bottom: auto;
    color:black;
}

/* datepicker */ 
div.ui-datepicker {
    font-size: 10px;
}

/* title for all pages */
.title {
    color: #1B998B;
    font-family: 'Bungee', cursive;
    text-shadow: 3px 3px 1px white;
    letter-spacing: 1rem;
    text-indent: 1rem;
    font-size: 4rem;
}

/* create event needs different letter spacing */
#create { 
    font-family: 'Bungee', cursive;
    text-shadow: 3px 3px 1px white;
    letter-spacing: .6rem;
    text-indent: 1rem;
    font-size: 4rem;
 }

/* standard text box */ 
.bodytext {
    background-color: white;
    border-radius: 55px 55px 55px 55px;
    font-size: 2rem;
    margin-top: 4rem;
}

.bodytext.about {
     width:80%;
}

.bodytext.contact {
     width:60%;
     padding:3rem;
}

.bodytext p {
    font-size: 2rem;
    padding:6rem;
}


/* footer */
#footer {
    padding-top: 1.3rem;
    margin:0;
    position: static;
    bottom:0;
    width: 100%;
    height: 5rem;
    background-color: #0353A4;
    color:white;
}

#footer a {
    margin:0;
	color: white;
}

#footer span {
    margin: 0;
	font-size: 1.4rem;
}








