
/*rgba(241,54,102,1)*/
/*#f4eba0 */
/*rgba(135,72,241,1)*/
/*
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}*/

/*rgba(240,250,202,1);*/
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/

/*font-family: 'Quicksand', sans-serif;
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee', cursive;
font-family: 'Mogra', cursive;*/
body{
    /*background:linear-gradient(10deg, rgba(244,235,160,1) 43%,rgba(192,250,202,1) 43%);*/
    background-color: rgba(244,235,160,1);
}

button{
    /*background-color: rgba(135,72,241,1);
    color:white;*/
    background-color: white;
    color:rgba(135,72,241,1);
}


.navbar{


}

.navbar-brand{
    color: rgba(241,54,102,1) !important;
    font-family: 'Bungee', cursive;
    /*font-family: 'Quicksand', sans-serif;*/
    /*font-family: 'Bungee Shade', cursive;*/
    letter-spacing: .5rem;
}

#navbar a {
    color: rgba(241,54,102,1) !important;
    font-weight: 600;
}

.text-just {
    padding-left: 20%;
    padding-right: 20%;
}

label{
    color:rgba(135,72,241,1);
}

#tit{
    color:rgba(135,72,241,1);
}

.wrapper {
    margin-top: 80px;


}

.carousel {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
}

.carousel-caption {

    top:30%;
    left:25%;
    bottom: auto;
    color:black;
}

div.ui-datepicker {
    font-size: 10px;
}

h1 {
    /*font-family: 'Bungee Shade', cursive;*/
    font-family: 'Bungee', cursive;
    text-shadow: 3px 3px 1px white;
    letter-spacing: 2rem;
    text-indent: 2rem;
    font-size: 6rem;
}

.sub {
    font-family: 'Mogra', cursive;
    text-shadow: 1px 1px 8px white;
    font-size: 3rem;
    text-indent: 1rem;
    letter-spacing: 1rem;
}


footer {
    padding-top: 10px;
    position: absolute;
    margin:0;
    bottom:0;
    width: 100%;
    height: 40px;
    /*background-color: #000;*/
    background-color: rgba(241,54,102,1);
    color:white;
}

#footer2 {
    position: static;
    bottom:0;

}






/*
body {
	color: #fff;
	text-align: justify;
    text-align-last: center; 
	height: 100%;
	background:linear-gradient(10deg, rgba(244,235,160,1) 43%,rgba(192,250,202,1) 43%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.masthead, .mastfoot, .cover-container {
    width: 100%;
}

.masthead {
    position: fixed;
    top: 0;
}

.masthead {
    margin-bottom: 3rem;
}

.inner {
    padding: 2rem;
}


.masthead-brand {
    color: rgba(241,54,102,1);
    float: left;
}

.masthead-brand {
    margin-bottom: 0;
}


.nav-masthead {
    float: right;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav a {
	color: rgba(241,54,102,1);
}


.cover{
	padding: 1.5rem;
	margin-top: 10rem;
    color: rgba(135,72,241,1);
    background-color: white;
    margin-left: 10rem;
    margin-right: 10rem;
    overflow: auto;

    
    
	
}


.lead{
	margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

.btn{
    margin-top: 2rem;
    background-color: rgba(241,54,102,1);
}

.mastfoot {
    position: fixed;
    bottom: 0;
}

.mastfoot {
    color: rgba(241,54,102,1);
}


*/